/*
Student ID: 102125413 
Name: Vinh Huynh
Created on: 14/4/2020
Last Modified: 19/4/2020
*/


body{
    font-family: Arial, Helvetica, sans-serif;
}

/* styling for header container */
header {
    border: 3px solid orange;
    height: 68px;
    margin-bottom: 1em;
}

/* styling for logo */
header i {
    margin-top: 0.3em;
    margin-left: 0.5em;
    margin-bottom: 0.15em;
}

/* styling for logo title */
#title {
    font-size: 1.5em;
    font-family: arial;
    color: orange;
}

/* styling for container of logo and brand name */
#brand {
    margin-right: 5em; /* margin b/w brand and nav */
    padding-top: 1em;
}

/* Change nav to inline block */
nav {
    display:inline-block;
}

/* styling for navigation bar */
nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;  
    color: orange;
    margin-right: 0.6em;
    padding: 0.2em 0.6em;
    border: 2.5px solid orange;
    
    
}
/* Highlight Current Page and Menu Buttons */
nav a:hover, #curPage {
    background-color: orange;
    border: 2.5px solid orange;
    color:white;
    text-decoration: underline;
}

