/*
Filename: register.css
Description: Styling Specific for register.php page;
Student ID: 102125413 
Name: Vinh Huynh
Created on: 19/4/2020
Last Modified: 19/4/2020

*/

/** Error Msg Box */
.errMsg {
    border: 1px dotted red;
    color: red;
    padding: 0.1em 0.5em;
    margin-top: 2em;
    width: 70%;
}

.errMsg h3{
	text-decoration: underline;
}

